.herder-shell-ouside {
    user-select: none;
    position: sticky;
    top: 0;

    .shell-youtube-icon {
        .youtube-icon {
            color: red;
            scale: 3.5;
        }
    }

    .shell-search {
        .ant-space {
            column-gap: 20px;
            margin: 0;
        }

        .ant-space-item {
            .ant-input-affix-wrapper {
                height: 35px;
            }

            .ant-input-group-addon {
                scale: 1.12;
                padding: 0 0 0 4px;

                button {
                    width: 50px;
                    margin: 0;
                }
            }
        }

        .shell-micro .css-1jzq0dw-MuiChip-label{
            padding: 10px 8px;
        }
    }

    .shell-right-herder {
        .shell-r-1 {
            .ant-btn {
                margin: 17px 5px 0 0;
            }
        }

        .shell-r-2 {

            .shell-notification {}

            .shell-profile {user-select: none;}

        }

    }

}


.home-shell-outside {

    .home-nav-left {
        user-select: none;

        .ant-menu-root {
            overflow-y: scroll;


        }

        .ant-menu-root::-webkit-scrollbar {
            width: 0px;
        }
    }

    .home-nav-right{
        overflow-y: scroll;

        &::-webkit-scrollbar{
            width: 0px;
        }
    }

    .shell-1 {
        position: sticky;
        top: 64px;
    }
}

// outside CSS
.ant-modal-content .ant-modal-footer .ant-btn-primary {
    color: #fff;
    background: rgb(57 137 234);
}

:where(.css-dev-only-do-not-override-djtmh8).ant-drawer-right>.ant-drawer-content-wrapper {
    right: -3.5%;
}

.ant-drawer .ant-drawer-content {
    width: 85%;
}

.ant-drawer-content-wrapper{
    width: 35%;
}

